#header {
    width: 100%;
}


#navbar{
    width: 100%;
    flex-direction: column;
    padding-top:0.75rem;
    padding-bottom:1rem;
    overflow:hidden;
    text-align: center;
    height:200px;
}
#navbar #navitems {
    
    flex-direction: row;
}
#navbar .brand h2{
  
    text-align: center;
}
#home #logo{
    
    max-width: 100%;
    
    height:auto;
    margin-top: 8rem;
}

#home span{
    display: none;
}





#home #contacts ul li a img {
    
    width: 100%;
    height:auto;
    text-align: left;
    margin-top: 1rem;
    
}

#contacts #tel {
    display:block;
}
#contacts #tel h2{
    font-size: 2rem;
    color: black;
}

.iletisim {
    display: flex;
    text-align: center;
    flex-direction: column;
}

/* Mobil CSS */
body {
    font-size: 12px; /* Metin boyutunu daha da küçült */
}

.header, .footer {
    padding: 5px; /* Üstbilgi ve altbilgi dolgusunu daha da azalt */
}

#navbar .brand h1, #home h2, #about h3 {
    font-size: 1.2rem; /* Başlık font boyutlarını daha da azalt */
}

#navbar ul {
    flex-direction: column; /* Navbar öğelerini dikey sırala */
}

#navbar ul li {
    margin-bottom: 5px; /* Liste öğeleri arası daha küçük boşluk */
}

#about {
    width: 80%;
}
#about p{
    text-indent: 0;
}

#carouselExampleControls{
    width: 80%;
    margin: auto;
}
#carouselExampleControls button{
    display: none;

}
#contacts #logo {
    width: 70%;
    height: auto;
}
#contacts div h2 {
    margin-top: 25px;
    text-align: center;
    font-size: 0.9rem;
}

#contacts, #galeri {
    padding: 5px; 
    width: 80%; 
}


.footer {
    width:100%;
    height: auto;
}
.footer-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
   
}
.footer #footer-p{

    width: 100%;
    text-align: justify;
    text-indent: 10px;
    justify-content: center;
}

.footer-portrait {
    width: 200px;
}


.footer .container {
    flex-direction: column; /* Footer elemanlarını dikey sırala */
    align-items: center; /* Ortala */
}


.footer-links, .social-links {
    text-align: center; /* Bağlantıları merkeze al */
}




